.current-forecast {
  position: absolute;
  margin-top: 250px;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--current-forecast-color);
}

.current-forecast-temperature {
  font-size: 150px;
}

.current-forecast-temperature::after {
  position: absolute;
  content: '°';
  font-weight: 300;
}

.current-forecast-day {
  font-size: 40px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px)  {
  .current-forecast {
    margin-top: 100px;
  }
  
  .current-forecast-temperature {
    font-size: 120px;
  }

  .current-forecast-day {
    font-size: 26px;
  }
}
