.daily-forecast {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: calc(100vh - 130px);
  font-size: 40px;
  font-weight: 300;
  color: var(--daily-forecast-color);
  background-color: var(--daily-forecast-bg-color);
}

.daily-forecast-button {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.daily-forecast-button:hover {
  opacity: 0.7;
}

.daily-forecast-button:not(:first-child) {
  margin-top: 40px;
}

.daily-forecast-button div {
  //padding-left: 20px;
}

.daily-forecast-day {
  text-transform: capitalize;
}

.daily-forecast-col {
  margin-top: -15px;
  font-size: 36px;
}

.daily-forecast-humidity,
.daily-forecast-precip,
.daily-forecast-wind-icon,
.daily-forecast-wind {
  opacity: 0.7;
}

.daily-forecast-weather-icon,
.daily-forecast-temperature {
  opacity: 1;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px)  {
  .daily-forecast {
    margin-top: calc(100vh - 70px);
    font-size: 30px;
  }
  .daily-forecast-col {
    font-size: 20px;
    margin-top: -5px;
  }
}
